requests==2.33.1
beautifulsoup4==4.14.3
python-dotenv==1.0.0
pydantic==2.12.5
pydantic-settings==2.13.1
loguru==0.7.3
playwright==1.58.0
coqui-tts==0.27.5
transformers==5.0.0
f5-tts==1.1.18
soundfile==0.13.1
ruaccent==1.5.8.3
pyarrow==23.0.1
datasets==4.8.4
silero-stress==1.4
silero==0.5.5
numpy==2.4.4
torch==2.11.0
torchaudio==2.11.0
torchcodec==0.11